## Analyze test reports

1. Go to **Project** > **Settings** > **Katalon Platform**. Make sure you have enabled Katalon Platform integration and automatically upload all test reports to Katalon Platform.

    <img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-studio/in-app-tutorials/shared-images/ks-upload-reports-enabled.png" width=350>

   After execution, your test suite reports are automatically uploaded to Platform.

2. Go to your Project Dashboard on [Katalon Platform](https://testops.katalon.io). 

    <img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-studio/in-app-tutorials/shared-images/kt-dashboard-1.png" width=350>
    
    Here you can access the advanced reports and analytics of your test execution.


> [Click here for more information](https://docs.katalon.com/docs/analyze/reports/view-test-reports/view-test-reports-in-katalon-testops/view-testops-dashboard/testops-dashboard-overview)