## Analyze test reports

In the **Tests Explorer** sidebar, click **TestOps** and choose **Test Runs**.

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-studio/in-app-tutorials/shared-images/ks-open-test-runs-list.png" width=50%>

You can view a summary list of the test runs. 

<img src="https://github.com/katalon-studio/docs-images/raw/master/katalon-studio/in-app-tutorials/shared-images/ks-view-test-runs.png" width=100%>

You can also view advanced reports of the test runs in Katalon Platform.
* To view the advanced report of a test case, click on the test run ID. 
* To view advanced reports of all test runs, click on **View all test runs**. 

> [Click here for a detailed tutorial](https://docs.katalon.com/docs/analyze/reports/view-test-reports/view-test-reports-in-katalon-testops/test-runs-reports-overview-in-katalon-testops)